@model MichalDzialekLab7_ZadDom.Models.Przedmiot

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategoria.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Typ.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rodzaj.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
